/**
 * These are the styles for our Boxy app
 *
 * @author Paul Burney <pburney@gmail.com>
 */

body {
  background-color: #dda1dd;
  font-family: "Lato Light", "Calibri", "Helvetica", sans-serif;
  font-size: 100%;
  margin: 50px 20%;
}

h1 {
  color: #303;
  font-size: 200%;
}

.thick-bottom-border {
  border-bottom: 4px solid #000;
}

.thick-top-border {
  border-top: 4px solid #000;
}

.centered-text {
  text-align: center;
}

.controls button {
  display: inline-block;
  background-color: #0a0;
  font-weight: bold;
  padding: 10px;
  color: #000;
  border: 1px solid #000;
}

.controls button:hover, .controls button:active {
  display: inline-block;
  background-color: #060;
  font-weight: bold;
  padding: 10px;
  color: #000;
  border: 1px solid #909;
}

#boxy {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: #060;
}

#boxy-container {
  display: inline-block;
  border: 3px solid #000;
  line-height: 0;
}
